{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Deepanshu -Web Developer, Programmer</title>
</head>

<body>
    <div class="container">
        <div class="sidebar sidebarGo">
            <!--How we create a navbars using Html-->
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro.html">My Intro</a></li>
                    <li><a href="/service.html">Services</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/contact.html">Contact me</a></li>
                    <li><a href="/login.html">Login</a></li>
                    <li><a href="/signin.html">Sign in</a></li>
                    <li><a href="/logout.html">Logout</a></li>
                </ul>
            </nav>
        </div>
        <!--Main Content-->
        <div class="main">
            <div class="hamburger">
                <img class="ham" src="{% static 'ham.png' %}" alt="" width="63px">
                <img class="close" src="{% static 'closeham.png' %}" alt="" width="23px">
            </div>
            <div class="loginform">
                <h1>Please Login</h1>
                <form action="login.html" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div id="password" class="form-text">We'll never share your email & mobile number with anyone
                            else.
                        </div>
                        
                        {% for message in messages %}
                        <h3>{{message}}</h3>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn-sm">login</button>
                    <a href="{% url 'changepass' %}">Password Change</a>
                    <script src="{% static 'script.js' %}"></script>
</body>

</html>